{% extends 'head.html' %}
{% load static %}
{% block head %}
<!--**********************************
    Sidebar end
***********************************-->

<!--**********************************
    Content body start
***********************************-->
<div class="content-body">
    <div class="container-flcid">
        <div class="row page-titles mx-0">
            <div class="col-sm-18 p-md-0">
 <br>            
<div class="card">
    <div class="card-header">
        <p>HELLO,{{cid.lname}}</p>

        <p>{{msg}}</p></div><br>
        <h4 class="card-title" style="text-align: center;"><b>Profie page</b></h4>
        <form role="form" action="{% url 'client-changepassword' %}" method="POST">
            {% csrf_token %}
    </div>
    <div class="card-body">
        <div class="basic-form">
            <form>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label> Enter Old Password </label>
                        <input name="opassword" type="text" class="form-control" placeholder="Old Password">
                    </div>
                    <div class="form-group col-md-6">
                        <label> New Password </label>
                        <input name="npassword" type="text" class="form-control" placeholder="New Password">
                    </div>
                </div>
                <div class="text-center mt-4">
                    <button type="submit" value="update profile" class="btn btn-primary btn-block">Change Password</button>
                    <a button href="{% url 'client-clogin' %}">Go back</button></a>




<!--**********************************
    Content body end
***********************************-->


<!--**********************************
    Footer start
***********************************-->
{% endblock %}