        {% extends 'header.html' %}
        {% load static %}
        {% block head %}
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <div class="container-fluid">
                <div class="row page-titles mx-0">
                    <div class="col-sm-6 p-md-0">
                     
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Horizontal Form</h4>
            </div>
            <div class="card-body">
                <div class="basic-form">
                    <form>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label>First Name</label>
                                <input type="text" class="form-control" placeholder="1234 Main St">
                            </div>
                            <div class="form-group col-md-6">
                                <label>Email</label>
                                <input type="email" class="form-control" placeholder="Email">
                            </div>
                            
                            <div class="form-group col-md-6">
                                <label>city</label>
                                <input type="text" class="form-control" placeholder="city">
                            </div>
                            <div class="form-group col-md-6">
                                <label>password</label>
                                <input type="password" class="form-control" placeholder="Password">
                            </div>
                            <div class="form-group col-md-6">
                                <label>change Password</label>
                                <input type="password" class="form-control" placeholder="change Password">
                            </div>
                        </div>



        <!--**********************************
            Content body end
        ***********************************-->


        <!--**********************************
            Footer start
        ***********************************-->
        {% endblock %}