{% extends 'header.html' %}
{% load static %}
{% block head %}
<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles mx-0">
    
            <div class="card">
    <div class="card-header">
        {{msg}}
        <h4  class="card-title">View Product : {{product.name}} </h4>
        <form action="{% url 'edit-my-product' product.id %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
    </div>
    <div class="card-body">
        <div class="basic-form">
             
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Product Name</label>
                        <input type="text" name="pname"  value="{{product.name}}"  class="form-control" placeholder="Product name" name="pname">
                    </div>
                    <div class="form-group col-md-6">
                        <label>Brand Name</label>
                        <input type="text" name="pbrand" value="{{product.brand}}"  class="form-control" placeholder="Brand Name" name="pbrand">
                    </div>
                    <div class="form-group col-md-6">
                        <label>Size</label>
                        <input type="number" name="psize" value="{{product.size}}"  class="form-control" placeholder="size" name="psize">
                    </div>
                    <div class="form-group col-md-6">
                        <label>Price</label>
                        <input type="int" name="pprice" value="{{product.price}}"  class="form-control" placeholder="price" name="pprice">
                    </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Product Image</label>
                        <img src="{{product.pic.url}}" style="width: 50px;">
                        <input  type="file" name="ppic" class="form-control" placeholder="" name="ppic">
                    </div>  
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Category</label>
                            <select name="pcategory"  id="" class="form-control">
                                {% for c in cate  %}
                                {% if c == product.category %}
                                <option value="{{c.id}}" selected>{{c.category}}</option>
                                {% else %}
                                <option value="{{c.id}}">{{c.category}}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Discription</label>
                            <textarea name="pdes" class="form-control" id="" cols="30" rows="10"  >{{product.des}}</textarea>
                        </div>
                    </div>
                
                        
                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox">
                        <label class="form-check-label">
                        </label>
                    </div>
                    <br>
                <button   class="btn btn-primary"  style="width: 100%;"> Edit Product </button></a>

                </div>
                <a href="{% url 'view-my-products'%}" button   class="btn btn-primary"  style="width: 100%;"> Go Back</button></a>

                </div>
            </form>
            </div>
            </div>
        </div>
    </div>
</div>
        </div>
    </div>
  
</div>
        </div>
</div>
</div>
 {% endblock %}  

