{% extends 'header.html' %}
{% load static %}
{% block head %}


<div class="content-body">
    <!-- row -->
        <div class="row">
<div class="col-lg-3 col-sm-6">
<div class="card">
                    </div>
                </div>
            </div>
            
            <div class="col-lg-6">
                
            </div>
           <h2>My Products</h2>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th>id</th>
                                        <th>Seller Name</th>
                                        <th> Product Name </th>
                                        <th>Size</th>
                                        <th>Price</th>
                                        <th>Available</th>
                                        <th>Category</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for product in products %}
                                    {% if product.available %}
                                    <tr>
                                    <tr style="background-color: rgb(24, 71, 241);">
                                        {% else %}
                                        <tr style="background-color: rgb(134, 90, 90);">
                                            {% endif %}
                                        
                                        <td>
                                            <div class="round-img">
                                                <a href=""><img width="35" src="{{Product.pic}}" alt=""></a>
                                            </div>                                        
                                        </td>
                                        <td>{{product.seller.name}}</td>
                                        <td><span>{{product.name}}</span></td>
                                        <td><span>{{product.size}}</span></td>
                                        <td><span>{{product.price}}</span></td>
                                        <td>
                                            {% if product.available %}
                                            <span class="badge badge-success">
                                                    <h5>Available</h5>
                                                {% else %}
                                                <span class="badge badge-unsucces">
                                                    <h5>Notavailable</h5>
                                                {% endif %}
                                            </span>
                                        </td>
                                        <td><span>{{product.category}}</span></td>
                                        <td style="margin-left:10px;">
                                            <div class="dropdown">
                                            <a class="btn btn-sm btn-icon-only text-dark" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fas fa-ellipsis-v"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-left dropdown-menu-arrow">
                                                <a class="dropdown-item" href="{% url 'view-one-product' product.id %}"><i class="fa fa-eye"></i> View Product</a>
                                                <a class="dropdown-item" href="{% url 'edit-my-product' product.id %}"><i class="fa fa-pen"></i> Edit Product</a>
                                                <a class="dropdown-item" href="{% url 'delete-product' product.id %}"><i class="fa fa-trash"></i> Delete</a>
                                                {% if product.available %}
                                                <a class="dropdown-item" href="{% url 'disable-product' product.id %}"><i class=""></i> Disable product </a>
                                                {% else %}
                                                <a class="dropdown-item" href="{% url 'enable-product' product.id %}"><i class=""></i> Enable product </a>
                                               {% endif %}
                                            </div>
                                            </div>
                                        </td>
                                    </tr>
                                  {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!--**********************************
    Content body end
***********************************-->


<!--**********************************
    Footer start
***********************************-->

<br>
<br>
<br>

{% endblock %}  
